*.swp
*.swo
*.out
build*
.vscode
enzyme/benchmarks/*/*/*.ll
enzyme/benchmarks/*/*/*.bc
enzyme/benchmarks/*/*/*.o
enzyme/benchmarks/*/*/*.exe
enzyme/benchmarks/*/*/results.txt
enzyme/benchmarks/*/*/results.json

.DS_Store