CompileFlags:
  Compiler: /home/vimarsh6739/poseidon/llvm-project/build/bin/clang++
  CompilationDatabase: /home/vimarsh6739/poseidon/Enzyme/enzyme/build
  # Add extra flags that will be applied to all files, including headers
  Add: 
    - "-I/home/vimarsh6739/poseidon/llvm-project/llvm/include"
    - "-D_GNU_SOURCE"
    - "-D__STDC_CONSTANT_MACROS"
    - "-D__STDC_FORMAT_MACROS"
    - "-D__STDC_LIMIT_MACROS"
    - "-std=c++17"
Index:
  Background: Build
Diagnostics:
  UnusedIncludes: None
