name: Benchmarking

on: 
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  merge_group:
    
concurrency: 
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: Benchmark Test on os ${{ matrix.os }} and llvm ${{ matrix.llvm }} mode ${{ matrix.build }} 
    runs-on: ${{ matrix.os }}
    container:
      image: ${{ (contains(matrix.os, 'linux') && 'ghcr.io/enzymead/reactant-docker-images@sha256:91e1edb7a7c869d5a70db06e417f22907be0e67ca86641d48adcea221fedc674' ) || '' }}

    strategy:
      fail-fast: false
      matrix:
        llvm: ["15"]
        build: ["Release"] #, "Debug" "RelWithDebInfo"
        os: ["linux-x86-n2-32"]
    timeout-minutes: 120 
    steps:
    - name: add llvm 
      run: |
          # curl -fsSL https://apt.llvm.org/llvm-snapshot.gpg.key | apt-key add -
          apt-get update -y
          apt-get install -y lsb-release software-properties-common
          apt-add-repository "deb http://apt.llvm.org/`lsb_release -c | cut -f2`/ llvm-toolchain-`lsb_release -c | cut -f2`-${{ matrix.llvm }} main" || true
          apt-get  --allow-unauthenticated install -y python3-pip autoconf cmake gcc g++ libtool gfortran libblas-dev llvm-${{ matrix.llvm }}-dev clang-${{ matrix.llvm }} libeigen3-dev libboost-dev libzstd-dev
          python3 -m pip install lit pathlib --break-system-packages
          touch /usr/lib/llvm-${{ matrix.llvm }}/bin/yaml-bench
    - uses: actions/checkout@v4
    - name: mkdir
      run: rm -rf build && mkdir build
    - name: cmake
      working-directory: build
      run: cmake ../enzyme -DLLVM_EXTERNAL_LIT=`which lit` -DCMAKE_BUILD_TYPE=${{ matrix.build }} -DLLVM_DIR=/usr/lib/llvm-${{ matrix.llvm }}/lib/cmake/llvm
    - name: make
      working-directory: build
      run: make -j `nproc` LLVMEnzyme-${{ matrix.llvm }}
    - name: make bench-enzyme
      working-directory: build
      run: make bench-enzyme
    - name: results
      working-directory: build
      run: cat _deps/cpu_benchmarks-src/*/*/results.json
