name: Bazel

on:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build-linux:
    name: Bazel ${{ matrix.build }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false
      matrix:
        build: ["Release"]
        llbuild: ["Release"]
        os: [openstack22]
  
    timeout-minutes: 500 
    steps:
    - name: add llvm 
      run: |
          sudo rm -f /etc/apt/sources.list.d/*llvm*.list
          sudo apt-get update
          sudo apt-get install -y ninja-build git autoconf cmake gcc g++ libtool gfortran python3 python3-dev 
    - uses: actions/checkout@v3
    - uses: actions/checkout@v3
      with:
        repository: 'llvm/llvm-project'
        path: 'llvm-project'
        submodules: true


    - name: Install bazelisk
      run: |
        curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.1.0/bazelisk-linux-amd64"
        mkdir -p "${GITHUB_WORKSPACE}/bin/"
        mv bazelisk-linux-amd64 "${GITHUB_WORKSPACE}/bin/bazel"
        chmod +x "${GITHUB_WORKSPACE}/bin/bazel"
    
    - name: cmake
      run: |
          cd enzyme
          "${GITHUB_WORKSPACE}/bin/bazel" build :EnzymeStatic 
